@using AHeat.Web.API.Pages;
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using System.Reflection;
@using System.Runtime.Versioning;
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@{
    Assembly currentAssembly = typeof(ErrorModel).Assembly;
    if (currentAssembly == null)
    {
        currentAssembly = Assembly.GetCallingAssembly();
    }
    string AspDotnetVersion = currentAssembly.GetCustomAttribute<TargetFrameworkAttribute>()?.FrameworkName!;
    string Version = $"{currentAssembly.GetName().Version!.Major}.{currentAssembly.GetName().Version!.Minor}.{currentAssembly.GetName().Version!.Revision}";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Power Control</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/loginstyle.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/loginstyle.css" asp-append-version="true" />
    </environment>
</head>
<body>
        <partial name="_CookieConsentPartial" optional />
        <main role="main" class="pb-1">
            @RenderBody()
        </main>
    <footer>
        <div class="container">
            <div class="inner-footer-contanier">
                <p class="footer-typography">&copy; 2023 - <a href="http://promarmic.se" rel="nofollow" target="_blank">Power control</a> Version @Version @AspDotnetVersion</p>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/Identity/lib/jquery/dist/jquery.js"></script>
        <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                asp-fallback-src="~/Identity/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2">
        </script>
        <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
