@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div id="bg"></div>

<form id="account" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-field">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email / Username" />
    </div>

    <div class="form-field">
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
    </div>

    <div class="form-field">
        <input class="form-check-input" asp-for="Input.RememberMe" />
        @Html.DisplayNameFor(m => m.Input.RememberMe)
    </div>

    <div class="form-field">
        <button id="login-submit" class="btn" type="submit">Log in</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
